$marginInit: 0;
$paddingInit: 0;
$boxSizingInit: 0;

$colorBlueDark: #0071CE;
$fontDefault: 'Roboto', sans-serif;

$displayFlex: flex;
$alignCenter: center;
$justifySpaceA: space-around;
$justifySpaceB: space-between;
$paddingNavmenu: 15px 0;